<html>
<head>

<link href='static/css/style.css' rel='stylesheet'>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
<script src='static/js/script.js'></script>

<title>PasswordReset</title>
</head>

<body>
<div id="formWrapper">

<div id="form">
<div class="logo">

<h6>Please reset your password</h6>
</div>

<form class='form-forget_password' method='POST' action='/forget_password'>
    {{ form.csrf_token }}
        <div class="form-item">
     <p class="formLabel">{{form.username.label}}</p> 
           {{form.username(type='text',class='form-style',autocomplete='off')}}
        </div>
        <div class="form-item">
           <p class="formLabel">{{form.password.label}}</p> 
           {{form.password(class='form-style')}}

            {% if error %}
             <p class=error style='color: red; text-align: center; font-style:inherit;'><small>User didn't exist, Please Sign up!</small></p>
            {% endif %}
  
        </div>
        <input type="submit" class="login pull-right" value="Submit">
        <div class="clear-fix"></div>
        </div>
</div>
</div>

</form>
</body>
</html>