<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href='static/css/mystyle.css' rel='stylesheet'>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>

  <title>Home Page</title>

</head>

<body id="page-top">

 
  
  <h1 style='font-style: italic;'>Welcome</h1>
  <h1 style='font-style: italic;'>Life Insurance Risk Assessment</h1>


 <br>
 <br>
 <br>
 <br>
 <br>

  <a  href="{{url_for('login')}}" class="btn btn-outline-success" role='button' aria-pressed='true'>Sign in</a>
   &emsp; &emsp; &emsp;
  <a href="{{url_for('register')}}" class="btn btn-outline-success" role='button' aria-pressed='true'>Sign up</a>
</div>


   
    
</body>

</html>
